content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

content .container-fluid {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: #580000;
  color: white;
  padding: 5em 0 5em 0;
  min-height: 600px;
}

content .container-fluid .row {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

content .container-fluid .row p {
  margin-bottom: 0;
  font-size: 1.5em;
  border: 1px solid white;
}

content .container-fluid .row textarea {
  min-height: 250px;
  width: 400px;
}
