content {
  min-height: 1700px;
  background-color: #580000;
  color: white;
  display: inline-block;
}

content .col-sm {
  float: left;
  padding-top: 3rem;
  min-width: 375px;
  width: calc(100%/3);
  text-align: center;
}

content .col-sm h3,
content .col-sm p {
  padding-left: 8%;
  padding-right: 8%;
}

content .col-sm h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-weight: bold;
}

content .col-sm p {
  margin: 0;
}

content .col-sm img {
  max-height: 350px;
}
