body {
  padding: 0;
  margin: 0;
  background-color: goldenrod;
}

html {
  overflow-x: hidden;
}

nav .navbar-toggler {
  width: 15%;
  height: 100%;
  float: left;
  margin-left: 0;
  background-color: goldenrod;
}

nav .navbar-toggler .navbar-toggler-icon {
  width: 100%;
}

nav div:not(.show) > ul > li.dropdown > p,
nav div:not(.show) > ul > li.dropdown > p a {
  pointer-events: none;
}

nav div:not(.show).ml-auto {
  float: right !important;
}

nav div img {
  width: 5%;
  max-width: 72px;
  position: absolute;
  margin-left: 1%;
  border-radius: 1rem;
}

nav div ul {
  border-radius: 1rem;
  text-decoration: none !important;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-wrap: break-word;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 6% !important;
  overflow: hidden;
  background-color: goldenrod;
  width: 100%;
}

nav div ul li {
  max-width: 300px;
  min-width: calc(((100%-5rem)*.9)/6);
  -ms-flex-line-pack: center;
      align-content: center;
  float: left;
  height: auto;
}

nav div ul li p {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 3px 4px;
  margin: 1rem 0rem;
  font-size: 1.45em;
}

nav div ul li a {
  color: white;
  padding: 7px 8px;
  text-decoration: none !important;
}

nav div ul li:not(.active) p:hover a {
  background-color: white;
  color: goldenrod;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav div ul li.active > p {
  margin: 1rem .25em;
  background-color: white;
}

nav div ul li.active > p a {
  color: goldenrod;
}

nav div ul li.active:hover > p,
nav div ul li.active p:hover {
  background-color: wheat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav div ul li.active:hover > p a,
nav div ul li.active p:hover a {
  color: goldenrod;
}

nav div ul li.dropdown {
  position: -webkit-sticky;
  position: sticky;
}

nav div ul li.dropdown > div {
  max-width: 200px;
  min-width: 16%;
  display: none;
  z-index: 1;
}

nav div ul li.dropdown > div:hover {
  position: fixed !important;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav div ul li.dropdown > div p {
  padding-top: 0;
  padding-bottom: 0;
}

nav div ul li.dropdown:hover > div,
nav div ul li.dropdown.show > div {
  display: block;
  position: fixed !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav div.collapsing, nav div.show {
  position: absolute;
  top: 3rem;
  left: 0;
}

nav div.collapsing img, nav div.show img {
  opacity: 0;
}

nav div.collapsing ul, nav div.show ul {
  border-radius: .5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

nav div.collapsing ul li.dropdown div, nav div.show ul li.dropdown div {
  opacity: 0;
  position: fixed !important;
  display: none;
}

nav div.collapsing ul li.dropdown div.show, nav div.show ul li.dropdown div.show {
  opacity: 1;
  top: 0;
  position: relative !important;
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header {
  background-image: url("images/band.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
  width: 100%;
}

content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

content .about-band {
  background-color: goldenrod;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

content .about-band p {
  padding-left: 15%;
  padding-right: 15%;
}

content .best-album {
  background-color: #580000;
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  font-size: 18px;
  color: white;
}

content .best-album div {
  float: left;
}

content .best-album div h2 a {
  margin-left: 10%;
}

content .best-album div img {
  float: right;
  width: 100%;
  min-width: 275px;
}

footer {
  background-color: #900000 !important;
}
