$golden:goldenrod;
$white:white;
body {
    padding: 0;
    margin: 0;
    background-color: $golden;
}

html {
    overflow-x: hidden;
}

nav {
    .navbar-toggler {
        width: 15%;
        height: 100%;
        float: left;
        margin-left: 0;
        background-color: $golden;
        .navbar-toggler-icon {
            width: 100%;
        }
    }
    div {
        &:not(.show) {
            &>ul>li.dropdown>p {
                &,
                a {
                    pointer-events: none;
                }
            }
            &.ml-auto {
                float: right !important;
            }
        }
        img {
            width: 5%;
            max-width: 72px;
            position: absolute;
            margin-left: 1%;
            border-radius: 1rem;
        }
        ul {
            border-radius: 1rem;
            text-decoration: none !important;
            align-content: center;
            overflow-wrap: break-word;
            list-style-type: none;
            margin: 0;
            padding: 0 0 0 6% !important;
            overflow: hidden;
            background-color: $golden;
            width: 100%;
            li {
                max-width: 300px;
                min-width: calc(((100%-5rem)*.9)/6); //16.666666%;
                align-content: center;
                float: left;
                height: auto;
                p {
                    display: block;
                    font-weight: bold;
                    text-align: center;
                    padding: 3px 4px;
                    margin: 1rem 0rem;
                    font-size: 1.45em;
                }
                a {
                    color: $white;
                    padding: 7px 8px;
                    text-decoration: none !important;
                }
                &:not(.active) p:hover a {
                    background-color: $white;
                    color: $golden;
                    transition: all 0.5s ease;
                }
                &.active {
                    &>p {
                        //margin: 1rem 25%;
                        margin: 1rem .25em;
                        background-color: $white;
                        a {
                            color: $golden;
                        }
                    }
                    &:hover>p,
                    p:hover {
                        background-color: wheat;
                        transition: all 0.5s ease;
                        a {
                            color: $golden;
                        }
                    }
                }
                &.dropdown {
                    position: sticky;
                    &>div {
                        max-width: 200px;
                        min-width: 16%;
                        display: none;
                        &:hover {
                            position: fixed !important;
                            display: block;
                            transition: all 0.5s ease;
                        }
                        z-index: 1;
                        p {
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                    &:hover>div,
                    &.show>div {
                        display: block;
                        position: fixed !important;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
        &.collapsing,
        &.show {
            position: absolute;
            top: 3rem;
            left: 0;
            img {
                opacity: 0;
            }
            ul {
                border-radius: .5rem;
                width: fit-content;
                padding: 0;
                li.dropdown div {
                    opacity: 0;
                    position: fixed !important;
                    display: none;
                    &.show {
                        opacity: 1;
                        top: 0;
                        position: relative !important;
                        display: block;
                        transition: all 1s ease;
                    }
                }
            }
        }
    }
}

header {
    background-image: url("images/band.jpg");
    background-position: top;
    background-size: cover;
    height: 300px;
    width: 100%;
}

content {
    box-sizing: content-box;
    .about-band {
        background-color: $golden;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        text-align: center;
        font-size: 24px;
        p {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .best-album {
        background-color: rgb(88, 0, 0);
        margin-left: 0;
        margin-right: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        font-size: 18px;
        color: $white;
        div {
            float: left;
            h2 a {
                margin-left: 10%;
            }
            img {
                float: right;
                width: 100%;
                min-width: 275px;
            }
        }
    }
}

footer {
    background-color: rgb(144, 0, 0)!important;
}