#news-list {
    padding-left: 7.666%;
    padding-right: 10%;
    min-height: 1300px;
    background-color: rgb(88, 0, 0);
    color: white;
}

#news-list #news {
    float: left;
    padding-top: 50px;
    padding-left: 2.333%;
    width: 30%;
    min-height: 100%;
    text-align: center;
}

#news-list #news div {
    height: 70%;
}

#news-list #news h3,
#news-list #news p {
    padding-left: 8%;
    padding-right: 8%;
}

#news-list #news h3 {
    word-spacing: .2em;
    margin-block-start: 0;
    font-weight: bold;
    height: 10%;
}

#news-list #news p {
    margin: 0;
    height: 20%;
}

#news-list #news img {
    padding-left: 15%;
    padding-right: 15%;
    max-height: 350px;
}