#news-list {
  padding-left: 7.666%;
  padding-right: 10%;
  min-height: 1700px;
  background-color: #580000;
  color: white;
  display: inline-block;
}

#news-list #news {
  float: left;
  padding-top: 50px;
  padding-left: 2.333%;
  min-width: 425px;
  width: 30%;
  min-height: 700px;
  text-align: center;
}

#news-list #news div {
  height: 70%;
}

#news-list #news h3,
#news-list #news p {
  padding-left: 8%;
  padding-right: 8%;
}

#news-list #news h3 {
  word-spacing: .2em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-weight: bold;
  height: 10%;
}

#news-list #news p {
  margin: 0;
  height: 20%;
}

#news-list #news img {
  padding-left: 15%;
  padding-right: 15%;
  max-height: 350px;
}
